/*!
Theme Name: RiPro-子主题
Theme URI: https://zyfx8.cn/
Author: 老雷
Author URI: https://zyfx8.cn/
Description: 高端美化Ripro子主题，整合网上一些ripro子主题进行整体美化，去掉沉淀多余的代码，精简代码结构，新增图片预览，集成内页下载，内容标签自动瞄点，滚动条推荐，更新提示，自定义文章标签等！想日子主题，到https://zyfx8.cn/，尽情日！！
Template: ripro
Version: 8.4
Tags: 子主题、免登录购买、会员系统、付费下载系统、付费查看系统、支付宝支付、微信支付、自适应、文章SEO瞄点、图片演示、内页下载优化，滚动条推荐、更新提示、自定义文章标签，子主题购买地址：https://zyfx8.cn/ 作者QQ：443211699
